<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:extend>

	<div id="header" class="row">
		<div class="col-sm-2">
			<span wicket:id="ad">ad comes here</span>
		</div>
		<div class="col-sm-10">
			<input type="button" wicket:id="changeAdLink" value="change ad" class="btn btn-default" />
		</div>
	</div>

	<div class="content row">
		<div class="col-sm-2">
			<ul>
				<li><a href="#" wicket:id="page1Link">Page 1</a></li>
				<li><a href="#" wicket:id="page2Link">Page 2</a></li>
			</ul>
		</div>
		<div class="col-sm-10">
			<wicket:child />
		</div>
	</div>

	<div id="footer" class="borderedBlock">
	 footer
	</div>

</wicket:extend>
</body>
</html>
